<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/resources :: head(pageTitle='Photo List')}"></th:block>
</head>
<body>
<nav th:replace="~{/fragments/resources :: navbar(currentPage='photos')}"></nav>

<div class="container pb-5">
    <div class="row g-4 mt-3">

        <div class="col-6">
            <h1>Benvenuto visitatore nel Photo Portfolio di Daniel</h1>
            <a class="btn btn-dark" th:href="@{/photos/create}">Aggiungi una foto</a>

        </div>
        <div class="col-6">
            <form method="GET" th:action="@{/photos}">

                <label class="form-label fw-bold" for="keyword">Cerca Una Foto</label>
                <input class="form-control my-3" id="keyword" name="keyword" placeholder="Cerca Qui..." type="text">

                <button class="btn btn-secondary" type="submit">Ricerca</button>
            </form>
        </div>

        <div class="col-3" th:each="photo : ${photos}">
            <div class="card">
                <a class="btn btn-secondary" th:href="@{|/photos/${photo.id}|}">
                    <img class="card-img-top" th:alt="${photo.title}" th:src="${photo.url}">
                    <a class="d-none" href="#">A</a>
                </a>
                <div class="card-body">
                    <p class="card-text" th:text="${photo.title}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>